<a href="https://colab.research.google.com/github/bilalmemon124/Data-Science/blob/main/Lab2_20sw010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Task 1

points = 174


if points >=1 and  points <= 50:
    result="Congratulations you won a Wooden Rabbit"
elif points >50 and points <= 150:
    result="Oh dear, No prize this time"
elif points >150 and points <= 180:
    result="Congratulations you won a wafer-thin mint"
elif points >180 and points <= 200:
    Result="Congratulations you won a penguin"
else:
    result="Incorrect Input"

print(result)

Congratulations you won a wafer-thin mint

In [15]:
#Task 2

answer = 70
guess = 70

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess==answer:
    result = "Nice!  Your guess matched the answer!"


print(result)

Nice!  Your guess matched the answer!

In [9]:

tax_rates = {
    'CA': 0.075,
    'MN': 0.095,
    'NY': 0.089
}

purchase_amount = float(input("Enter the purchase amount: "))
state_code = input("Enter the state (CA, MN, or NY): ").upper()

if state_code not in tax_rates:
    print("Error: Invalid state.")
else:
    tax_amount = purchase_amount * tax_rates[state_code]

total_amount_after_tax = purchase_amount + tax_amount

print("Total amount after tax:", total_amount_after_tax)

Enter the purchase amount: 2000
Enter the state (CA, MN, or NY): ca
Total amount after tax: 2150.0

In [16]:
# Task 4
my_list = ["the","quick","brown","fox","jumped","over","the","lazy","dog"]
for element in my_list:
    print(element)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [18]:
# Task 5
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

In [26]:
#Task 6
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names=[name.split()[0] for name in names]
print(first_names)

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

In [27]:
#Task 7
multiples_3 = [num*3 for num in range(1,21) ]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [57]:
#Task 8
scores = {"Rick Sanchez": 70,
          "Morty Smith": 35,
          "Summer Smith": 82,
          "Jerry Smith": 23,
          "Beth Smith": 98}
passed = [Name for Name,score in scores.items() if score>= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [51]:
#Task 9
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names,cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [54]:
# Task 10
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = [name +" "+ str(height) for name, height in zip(cast_names, cast_heights)]

print(cast)

['Barney 72', 'Robin 68', 'Ted 72', 'Lily 66', 'Marshall 76']