<a href="https://colab.research.google.com/github/bilalmemon124/Data-Science/blob/main/Lab5_20sw010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km.

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

dist_planets = pd.Series(data=distance_from_sun, index=planets)

# Calculate the number of minutes it takes sunlight to reach each planet.
# You can do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km,
# you can use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.

speed_of_light = 18  # 10^6 km/minute
time_light = dist_planets / speed_of_light

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.

close_planets = time_light[time_light < 40]

# Print the resulting Pandas Series and the planets for which sunlight takes less than 40 minutes.
print("Time for sunlight to reach each planet (minutes):\n", time_light)
print("\nPlanets where sunlight takes less than 40 minutes to reach:\n", close_planets)

Time for sunlight to reach each planet (minutes):
 Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

Planets where sunlight takes less than 40 minutes to reach:
 Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [8]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame that contains the ratings some users have given to a
# series of books. The ratings given are in the range from 1 to 5, with 5 being
# the best score. The names of the books, the authors, and the ratings of each user
# are given below:

books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', 'H. G. Wells', 'Lewis Carroll'])
user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5.0, 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

# Create a dictionary with the data given above
dat = {
    'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(dat)

# Now replace all the NaN values in your DataFrame with the average rating in each column,
# except for 'Book Title' and 'Author' columns.
user_columns = ['User 1', 'User 2', 'User 3', 'User 4']
book_ratings[user_columns] = book_ratings[user_columns].fillna(book_ratings[user_columns].mean())

# Print the resulting DataFrame
print(book_ratings)

# Find books that had a rating of 5 from any user
best_rated = book_ratings[book_ratings[user_columns].eq(5).any(axis=1)]['Book Title'].values
print("Books with a rating of 5 from any user:", best_rated)

                Author           Book Title  User 1  User 2    User 3  User 4
0      Charles Dickens   Great Expectations    3.20   5.000  2.000000     4.0
1       John Steinbeck      Of Mice and Men    2.85   1.300  2.300000     3.5
2  William Shakespeare     Romeo and Juliet    2.50   4.000  2.766667     4.0
3          H. G. Wells     The Time Machine    2.85   3.800  4.000000     5.0
4        Lewis Carroll  Alice in Wonderland    2.85   3.525  2.766667     4.2
Books with a rating of 5 from any user: ['Great Expectations' 'The Time Machine']