<a href="https://colab.research.google.com/github/bilalmemon124/Data-Science/blob/main/Lab_09_20sw010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
import numpy as np
import json
from bs4 import BeautifulSoup
from collections import defaultdict
from sklearn.linear_model import LinearRegression
import sqlite3
from sqlalchemy import create_engine
import requests

In [ ]:
pokemon=pd.read_csv('/content/pokemon.csv')

In [ ]:
population=pd.read_csv('/content/population_data.csv')

In [ ]:
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)

# TODO: remove the 'Unnamed:62' column from each data set
df_rural.drop('Unnamed: 62', axis=1, inplace=True)
df_electricity.drop('Unnamed: 62', axis=1, inplace=True)

# TODO: combine the two data sets together using the concat method
df = pd.concat([df_rural, df_electricity])
pd.concat

In [ ]:
df_rural_melt = pd.melt(df_rural,\
                        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                       var_name = 'Year', value_name='Rural_Value')
df_electricity_melt = pd.melt(df_electricity,\
                              id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                             var_name='Year', value_name='Electricity_Value')

# TODO: drop any columns from the data frames that aren't needed
df_rural_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)
df_electricity_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_merge = df_rural_melt.merge(df_electricity_melt, how='outer',\
                               on=['Country Name', 'Country Code', 'Year'])

# TODO: sort the results by country and then by year
df_combined = df_merge.sort_values(['Country Name', 'Year'])
df_combined

In [ ]:
df_projects = pd.read_csv('/content/projects_data.csv', dtype=str)

In [ ]:

df_projects.head()

In [ ]:

df_projects.isnull().sum()

In [ ]:
f = open('/content/population_data.csv')
for i in range(10):
    line = f.readline()
    print('line: ', i,  line)
f.close()

In [ ]:
population.head()

In [ ]:
population.isnull().sum(axis=1)

In [ ]:
population.columns

In [ ]:
population[population.isnull().any(axis=1)]

In [ ]:
import pandas as pd

# Read in the projects data set and do some basic wrangling
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['countryname'] = projects['countryname'].str.split(';', expand=True)[0]
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Filter the data frame for projects over 1 billion dollars
projects_over_1_billion = projects[projects['totalamt'] > 1000000000]  # 1 billion dollars = 1,000,000,000

# Count the number of unique countries in the results
unique_countries_count = projects_over_1_billion['countryname'].nunique()

print("Number of countries with projects over 1 billion dollars:", unique_countries_count)

In [ ]:

import pandas as pd
import datetime

# Read in the projects data set
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Define the list of countries
countries_of_interest = ['Bosnia and Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', 'Slovenia']

# Make the comparison date timezone-aware
comparison_date = pd.Timestamp(datetime.datetime(1992, 4, 27), tz='UTC')

# Filter the data frame for projects meeting the criteria
republics = projects[(projects['boardapprovaldate'] < comparison_date) & (projects['countryname'].isin(countries_of_interest))]

# Keep only the specified columns
republics = republics[['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']]

# Sort the results by boardapprovaldate
republics = republics.sort_values(by='boardapprovaldate')

# Show the results
print(republics)

In [ ]:

import pandas as pd
import datetime

# Read in the projects data set
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Define the start and end dates for Yugoslavia projects
start_date = pd.Timestamp(datetime.datetime(1980, 2, 1), tz='UTC')
end_date = pd.Timestamp(datetime.datetime(1989, 5, 23), tz='UTC')

# Filter the data frame for Yugoslavia projects within the specified date range
yugoslavia = projects[(projects['boardapprovaldate'] >= start_date) & (projects['boardapprovaldate'] <= end_date) & (projects['countryname'] == 'Yugoslavia')]

# Keep only the specified columns
yugoslavia = yugoslavia[['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']]

# Sort the results by boardapprovaldate
yugoslavia = yugoslavia.sort_values(by='boardapprovaldate')

# Show the results
print(yugoslavia)

In [ ]:

projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

start_date_yugoslavia = pd.Timestamp(datetime.datetime(1980, 2, 1), tz='UTC')
end_date_yugoslavia = pd.Timestamp(datetime.datetime(1989, 5, 23), tz='UTC')

yugoslavia = projects[(projects['boardapprovaldate'] >= start_date_yugoslavia) &
                      (projects['boardapprovaldate'] <= end_date_yugoslavia) &
                      (projects['countryname'] == 'Yugoslavia')]

countries_of_interest = ['Bosnia and Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', 'Slovenia']

# Make the comparison date timezone-aware
comparison_date = pd.Timestamp(datetime.datetime(1992, 4, 27), tz='UTC')

republics = projects[(projects['boardapprovaldate'] < comparison_date) &
                     (projects['countryname'].isin(countries_of_interest))]

selected_columns = ['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']
yugoslavia = yugoslavia[selected_columns]
republics = republics[selected_columns]

concatenated_data = pd.concat([yugoslavia, republics])

unique_dates = concatenated_data['boardapprovaldate'].unique()
date_counts = concatenated_data['boardapprovaldate'].value_counts()
dates_appeared_twice = date_counts[date_counts == 2]

print(dates_appeared_twice)

In [ ]:
import datetime

# run this code cell to see the duplicate data
pd.concat([yugoslavia[yugoslavia['boardapprovaldate'] == datetime.date(1983, 7, 26)], republics[republics['boardapprovaldate']

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# read in the projects data set and do basic wrangling
gdp = pd.read_csv('/content/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('/content/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)


# Reshape the data sets so that they are in long format
gdp_melt = gdp.melt(id_vars=['Country Name'],
                    var_name='year',
                    value_name='gdp')

# Use back fill and forward fill to fill in missing gdp values
gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby('Country Name')['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name'],
                                  var_name='year',
                                  value_name='population')

# Use back fill and forward fill to fill in missing population values
population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

# merge the population and gdp data together into one data frame
df_country = gdp_melt.merge(population_melt, on=('Country Name', 'year'))

# filter data for the year 2016
df_2016 = df_country[df_country['year'] == '2016']

# filter out values that are not countries
non_countries = ['World',
 'High income',
 'OECD members',
 'Post-demographic dividend',
 'IDA & IBRD total',
 'Low & middle income',
 'Middle income',
 'IBRD only',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'North America',
 'Upper middle income',
 'Late-demographic dividend',
 'European Union',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Early-demographic dividend',
 'Lower middle income',
 'Latin America & Caribbean',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latin America & Caribbean (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Middle East & North Africa',
 'Europe & Central Asia (excluding high income)',
 'South Asia (IDA & IBRD)',
 'South Asia',
 'Arab World',
 'IDA total',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Central Europe and the Baltics',
 'Pre-demographic dividend',
 'IDA only',
 'Least developed countries: UN classification',
 'IDA blend',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'Low income',
 'Small states',
 'Other small states',
 'Not classified',
 'Caribbean small states',
 'Pacific island small states']

# remove non countries from the data
df_2016 = df_2016[~df_2016['Country Name'].isin(non_countries)]


# show the first ten rows
print('first ten rows of data')
df_2016.head(10)

In [ ]:
def x_min_max(data):
    # TODO: Complete this function called x_min_max()
    # The input is an array of data as an input
    # The outputs are the minimum and maximum of that array
    minimum = min(data)
    maximum = max(data)
    return minimum, maximum
    x_min_max(df_2016['gdp'])


def normalize(x, x_min, x_max):
    # Normalize the value x within the range [x_min, x_max] to the range [0, 1]
    return (x - x_min) / (x_max - x_min)

In [ ]:
class Normalizer():
    def __init__(self, dataframe):
        self.params = []

        # Iterate through each column in the DataFrame
        for column in dataframe.columns:
            # Calculate the minimum and maximum values for each column
            x_min, x_max = self.x_min_max(dataframe[column])
            self.params.append((x_min, x_max))

    def x_min_max(self, data):
        # Calculate the minimum and maximum values for a given data column
        minimum = min(data)
        maximum = max(data)
        return minimum, maximum

    def normalize_data(self, x):
        # Normalize a data point 'x' based on the calculated parameters
        normalized = []
        for i, value in enumerate(x):
            x_max = self.params[i][1]
            x_min = self.params[i][0]
            normalized.append((value - x_min) / (x_max - x_min))
        return normalized

In [ ]:
gdp_normalizer = Normalizer(df_2016[['gdp', 'population']])

In [ ]:

gdp_normalizer.params

In [ ]:

gdp_normalizer.normalize_data([13424475000000.0, 1300000000])

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

gdp = pd.read_csv('/content/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('/content/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)

gdp_melt = gdp.melt(id_vars=['Country Name'],
                    var_name='year',
                    value_name='gdp')

gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby('Country Name')['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name'],
                                  var_name='year',
                                  value_name='population')

population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

df_country = gdp_melt.merge(population_melt, on=('Country Name', 'year'))

df_2016 = df_country[df_country['year'] == '2016']

non_countries = ['World', 'High income', ...]

df_2016 = df_2016[~df_2016['Country Name'].isin(non_countries)]
df_2016.reset_index(inplace=True, drop=True)

In [ ]:
import sqlite3
import pandas as pd
import numpy as np

In [ ]:
def extract_lines(file):
    while True:
        line = file.readline()
        if not line:
            break
        yield line

In [ ]:
def transform_indicator_data(data, colnames):
    for i, datum in enumerate(data):
        data[i] = datum.replace('"', '')

    country = None

    non_countries = ['World', 'High income', ...]
    if country not in non_countries:
        data_array = None
        data_array = None
        df = None
        df_melt = None
        results = []
        return results

In [ ]:
def load_indicator_data(results):
    conn = None
    cur = None

    if results:
        for result in results:
            countryname, countrycode, year, gdp = None
            sql_string = None
            try:
                cur.execute(sql_string)
            except Exception as e:
                print('error occurred:', e, result)

    conn.commit()
    conn.close()
    return None

In [ ]:


# Open the data file
with open('/content/projects_data.csv') as f:
    for line in extract_lines(f):
        data = line.split(',')
        if len(data) == 63:
            if data[0] == '"Country Name"':
                colnames = []
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"', ''))

In [ ]:

# Execute this code cell to run the ETL pipeline
# You do not need to change anything in this cell

# open the data file
with open('../content/gdp_data.csv') as f:
    # execute the generator to read in the file line by line
    for line in extract_lines(f):
        # split the comma separated values
        data = line.split(',')
        # check the length of the line because the first four lines of the csv file are not data
        if len(data) == 63:
            # check if the line represents column names
            if data[0] == '"Country Name"':
                colnames = []
                # get rid of quote marks in the results to make the data easier to work with
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"',''))
            else:
                # transform and load the line of indicator data
                results = transform_indicator_data(data, colnames)